<h1 class='page-title'>All projects</h1>

<div class='row'>
  <% @projects.each do |project| %>
    <div class='col-xs-4'>
      <div class='well'>
        <h4>
          <%= link_to project do %>
            <span class="badge">
              <%= project.posts.size %>x
            </span>
            <%= project.name %>
          <% end %>
        </h4>
        <p>
          <%= project.description %>
          <strong>#<%= project.hashtag %></strong>
        </p>
      </div>
    </div>
  <% end %>
</div>

<hr />

<%= link_to 'New Project', new_project_path %>
