<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %> - #<%= @project.hashtag %>
</h1>

<p>
  <%= @project.description %>
</p>

<div class="row">
  <% @tweets.each do |tweet| %>
    <div class="col-xs-3">
      <div class="well">
        <%= tweet.text %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% @urls.each do |url| %>
    <div class="col-xs-2">
      <%= image_tag url, width: 100, class: 'img-responsive' %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', projects_path %>
