<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %> - #<%= @project.hashtag %>
</h1>

<p>
  <%= @project.description %>
</p>

<div class="row">
  <% @tweets.each do |tweet| %>
    <div class="col-xs-3">
      <div class="well">
        <%= tweet.text %>
      </div>
    </div>
  <% end %>
</div>

<% @urls.each do |url| %>
  <%= image_tag url %>
<% end %>

<%= link_to 'Back', projects_path %>
