<ol class='breadcrumb'>
  <li><%= link_to "Parse", parse_post_path(@post) %></li>
  <li><%= link_to 'Edit', edit_post_path(@post) %></li>
  <li><%= link_to 'Back', posts_path %></li>
</ol>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag @post.image, class: 'media-object'%>
      <div class="caption">
        <%= @post.body %>
      </div>
    </div>
  </div>
</div>

