<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tajm Laps" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tajm Laps" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="home">
    <%= render 'layouts/navigation' %>

    <% if content_for(:header) %>
      <%= yield(:header) %>
    <% else %>
      <!-- artificial space -->
      <header id="head" class="secondary"></header>
    <% end %>

    <main role="main">
      <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= render 'layouts/messages' %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
      </div>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
